rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow create: if true;
      allow read, write: if request.auth.uid == user;
    }
    match /projects/{project} {
      allow create: if request.resource.data.uid == request.auth.uid;
      allow read, write: if request.auth.uid == resource.data.uid;
      allow read: if resource.data.public;
    }
    match /personal-rs/{user} {
      allow read: if true;
      match /projects/{project} {
        allow read: if resource.data.public || request.auth.uid == user;
        allow create: if request.auth.uid == user
                      && (request.resource.data.keys().hasOnly([]));
        allow update: if request.auth.uid == user
                      && (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['public']));
      }
    }
    match /published-rs/{document=**} {
      allow read: if true;
    }
  }
}

