[package]
name = "homotopy-model"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
instant = { version = "0.1.12"}
homotopy-common = { path = "../homotopy-common" }
homotopy-core = { path = "../homotopy-core" }
homotopy-graphics = { path = "../homotopy-graphics" }
quote = "1.0.26"
serde = { version = "1.0.158", features = ["derive"] }
syn = "2.0.4"
paste = "1.0.12"
rmp-serde = "1.1.1"
serde_json = "1.0.94"

palette = { git = "https://github.com/Ogeon/palette", features = ["serializing"] }

tracing = "0.1.37"

thiserror = "1.0.40"
obake = { version = "1.0.4", features = ["serde"] }
im = { version = "15.1.0", features = ["serde"] }
arrayvec = "0.7.2"

[dev-dependencies]
insta = "1.28.0"

[features]
default = []
