[package]
name = "homotopy-graphics"
version = "0.1.0"
authors = ["Lukas Heidemann <lukas@heidemann.me>", "Nathan Corbyn <me@nathancorbyn.com>", "Calin Tataru <calintat@gmail.com>"]
license = "BSD-3-Clause"
repository = "https://github.com/homotopy-io/homotopy-rs"
edition = "2021"

[package.metadata.nix]
build = true

[dependencies]
homotopy-common = { path = "../homotopy-common" }
homotopy-core = { path = "../homotopy-core" }
# TODO(@doctorn) remove if/when we switch to GL-backed 2D rendering
euclid = "0.22.7"
itertools = "0.10.3"
js-sys = "0.3.57"
log = "0.4.16"
lyon_algorithms = "0.17.6"
lyon_geom = "0.17.7"
lyon_path = "0.17.7"
paste = "1.0.7"
petgraph = "0.6.2"
serde = { features = ["derive"], version = "1.0.137" }
serde_json = "1.0.81"
thiserror = "1.0.30"
ultraviolet = "0.9.0"
wasm-bindgen = "0.2.81"
yew = "0.19.3"

[dependencies.web-sys]
version = "0.3.57"
features = [
  "HtmlCanvasElement",
  "WebGlBuffer",
  "WebGlFramebuffer",
  "WebGlProgram",
  "WebGlRenderbuffer",
  "WebGl2RenderingContext",
  "WebGlShader",
  "WebGlTexture",
  "WebGlUniformLocation",
  "WebGlVertexArrayObject",
]

[dev-dependencies]
cargo-husky = { features = ["precommit-hook", "run-cargo-check", "run-cargo-test", "run-cargo-fmt", "run-cargo-clippy"], version = "1.5.0" }
insta = "1.14.1"
