[package]
name = "homotopy-graphics"
version = "0.1.0"
authors = ["Lukas Heidemann <lukas@heidemann.me>", "Nathan Corbyn <me@nathancorbyn.com>"]
license = "BSD-3-Clause"
repository = "https://github.com/homotopy-io/homotopy-rs"
edition = "2018"

[dependencies]
homotopy-common = { path = "../homotopy-common" }
homotopy-core = { path = "../homotopy-core" }
ultraviolet = "0.8.1"
# TODO(@doctorn) remove if/when we switch to GL-backed 2D rendering
euclid = "0.22.6"
lyon_geom = "0.17.5"
lyon_algorithms = "0.17.6"
lyon_path = "0.17.7"
thiserror = "1.0.30"
serde = { features = ["derive"], version = "1.0.130" }
serde_json = "1.0.68"
paste = "1.0.5"
petgraph = "0.6.0"
seahash = "4.1.0"
log = "0.4.14"
js-sys = "0.3.55"
yew = { git = "https://github.com/NickHu/yew" }
wasm-bindgen = "0.2.78"

[dependencies.web-sys]
version = "0.3.55"
features = [
  "HtmlCanvasElement",
  "WebGlBuffer",
  "WebGlProgram",
  "WebGl2RenderingContext",
  "WebGlShader",
  "WebGlUniformLocation",
  "WebGlVertexArrayObject",
]

[dev-dependencies]
cargo-husky = { features = ["precommit-hook", "run-cargo-check", "run-cargo-test", "run-cargo-fmt", "run-cargo-clippy"], version = "1.5.0" }
insta = "1.8.0"
