name: Update flake.lock
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 0 * * 0' # runs weekly on Sunday at 00:00

jobs:
  lockfile:
    name: Update flake.lock
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v18
        with:
          pr-labels: |
            dependencies
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
      - name: Auto-merge update
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  devshell:
    name: Build and cache devShell
    runs-on: ubuntu-latest
    needs: lockfile
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Setup cachix
        uses: cachix/cachix-action@v12
        with:
          name: homotopy-io
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build devShell
        run: |
          nix develop --build github:homotopy-io/homotopy-rs/update_flake_lock_action
