[package]
name = "homotopy-core"
version = "0.1.0"
authors = ["Lukas Heidemann <lukas@heidemann.me>", "Nick Hu <me@nickhu.co.uk>", "Calin Tataru <calintat@gmail.com>"]
license = "BSD-3-Clause"
repository = "https://github.com/homotopy-io/homotopy-rs"
edition = "2021"

[package.metadata.nix]
build = true

[dependencies]
homotopy-common = { path = "../homotopy-common" }
bimap = "0.6.2"
hashconsing = "1.5.0"
highway = "0.8.0"
log = "0.4.14"
once_cell = "1.10.0"
petgraph = "0.6.0"
serde = { features = ["derive"], version = "1.0.136" }
rmp-serde = { features = ["serde128"], version = "0.15.5" } # u128 support is new
itertools = "0.10.3"
thiserror = "1.0.30"

[dev-dependencies]
cargo-husky = { features = ["precommit-hook", "run-cargo-check", "run-cargo-test", "run-cargo-fmt", "run-cargo-clippy"], version = "1.5.0" }
criterion = { version = "0.3.5", features = ["html_reports"] }
insta = "1.14.0"
proptest = "1.0.0"
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
serde_json = "1.0.79"
base64 = "0.13.0"

[features]
default = []
safety-checks = []

[[bench]]
name = "bench"
harness = false
